* {
    margin: unset;
    padding: unset;
}

body {
    background: hwb(94 91% 0%);
    border-radius: 3rem;
    border-width: 3rem;
    border-color: #f3d3c3;
    position: relative;
}

#header {
    background: #03A63C;
    height: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
}

#header-logo {
    padding-top: 0.5rem;
    height: 2rem;
}

#cameraDiv {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 3rem;
    padding-top: 3rem;
    
}

#webCam {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    object-position: 50% 100%;
    object-fit: cover;
    position: fixed;
}

canvas {
    display: none;
}

#buttonDiv {
    height: 3rem;
    width: 100%;
    top: 85%;
    text-align: center;
    position: fixed;
}

a {
    height: 3rem;
    width: 3rem;
    text-decoration: none;
    position: absolute;
}

#buttonImage {
    height: 3rem;
    width: 3rem;
}

#footerContainer {
    height: 100%
}

#footer {
    background: #03A63C;
    height: 3rem;
    bottom: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    position: fixed;
}